.comment
  .avatar
    = image_tag comment.avatar, alt: "user without avatar", width: 60, height: 60
  .middle
    %p.meta
      %span.author= comment.author
      &#8226;
      %time{ datetime: comment.created_at }
        = comment.created_at.strftime("%H:%M on %A, %e %B %Y")
      &#8226;
      - if current_user
        = link_to "Delete", comment_path(comment, post_id: comment.post_id), method: :delete, confirm: "Delete this comment?"
    %p.content= comment.content
  .number
    %span= index