<hr>
%h3
  New comment
= simple_form_for comment do |f|
  = raw negative_captcha(captcha)
  .author_input_wrapper
    = negative_text_field_tag captcha, :author, class: "author_input", placeholder: "Author", label: false, required: true, maxlength: 30
    .letters_counter
      %span 30
  .content_input_wrapper
    = negative_text_area_tag captcha, :content, class: "content_input", placeholder: "Content", label: false, required: true, maxlength: 500
    .letters_counter
      %span 500
  = f.association :post, as: :string, as: :hidden, input_html: { value: params[:id] }
  = f.button :submit, :value => "Comment!", class: 'btn-primary'
