.post
  %header
    %h3= link_to post.title, post_path(post)
    %p.meta
      = image_tag "date.png", alt: "Date"
      %time{ datetime: post.created_at }
        = post.created_at.strftime("%A, %e %B %Y")
      &#8226;
      = link_to "#{post.comments.count} Comments", "#{post_path(post)}#comments", class: "comments"
      &#8226;
      = post.tag_collection
      = image_tag "tags.png", alt: "Tags"
  %article
    = raw post.content_or_abstract(params[:action])

