.navbar.navbar-inverse.navbar-fixed-top
  .navbar-inner
    .container
      %a.btn.btn-navbar{:'data-toggle' => 'collapse', :'data-target' => '.nav-collapse'}
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.brand{:href => root_url}
        Blog
      .nav-collapse.collapse
        %ul.nav
          %li{:class => controller_name == "posts" ? 'active' : ''}
            = link_to "Posts", admin_posts_url
          %li{:class => controller_name == "categories" ? 'active' : ''}
            = link_to "Categories", admin_categories_url
          %li{:class => controller_name == "tags" ? 'active' : ''}
            = link_to "Tags", admin_tags_url
          %li{:class => controller_name == "comments" ? 'active' : ''}
            = link_to "Comments", admin_comments_url

        %ul.nav.pull-right
          %li
            = link_to "Log out", logout_url