!!!
%html
  %head
    %title palinium.com
    = stylesheet_link_tag    "application", media: "all"
    = javascript_include_tag "application"
    = csrf_meta_tags
  %body{class: "blog #{controller_name}", data: { view: backbone_view }}
    - if flash[:alert] || flash[:notice]
      #flash
        - if flash[:alert]
          .alert
            %span.fui-cross
            = flash[:alert]
        - elsif flash[:notice]
          .notice
            %span.fui-check
            = flash[:notice]
    #container{class: "#{action_name}"}
      - unless Rails.env.production?
        #env_box= Rails.env
      %header
        = render partial: "layouts/header"
      %section.layout
        .left_column
          = image_tag "palin.png", alt: "Palin", :id => "palin"
          = yield
      %footer
        = render partial: "layouts/footer"

